<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="img/weather2.png"/>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        {{!-- <h1>{{title}}</h1> --}}
        <div class="main-content">
            <!--handle bars partials calling here-->
            {{> header}}
            <img class="about" src="img/All-About-Me-Logo.png" />
            {{!-- <p>Created by {{name}}</p> --}}
        </div>
        {{> footer}}
    </body>
</html>