<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="img/weather2.png"/>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        {{!-- <h1>{{title}}</h1> --}}
        <div class="main-content">
            {{> header}}
        </div>
        {{!-- <p>{{name}}</p> --}}
        {{> footer}}

    </body>
</html>