<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="img/weather2.png"/>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div class="main-content">
            {{!-- <h1>{{title}}</h1> --}}
            {{> header}}
            <p>Weather infomations are viral here :)</p>
            <form>
                <input placeholder='Latitude' type='text' id='lat'/>
                <input placeholder='Longitude' type='text' id='long'/>
                <button id='submit'>Submit</button>
            </form>

            <p id='message-1'></p>
            <p id='message-2'></p>
            <p id='message-3'></p>
            <p id='message-4'></p>
            <p id='message-5'></p>
            <p id='message-6'></p>
            <p id='message-7'></p>

        </div>
        {{!-- <p>Created by {{name}}</p> --}}
        {{> footer}}
        <script src="js/app.js"></script>

    </body>
</html>